<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="face-snap-card">
        <h2>{{ faceSnap.title }}</h2>
        <p>Mis en ligne le {{ faceSnap.createdDate }}</p>
        <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
        <p>{{ faceSnap.description }}</p>
        <p> 
           <span [ngStyle]="{ color : 'rgb(0,' + faceSnap.snaps+', 0)'}"><button (click)="onFaceSnap()">{{buttonText}}</button> {{ faceSnap.snaps }}</span> 
        </p>
      </div>
</body>

</html>